.card p {
    margin: unset
}
.card img{
    max-width: calc(100%);
    max-height: calc(59%);
}
div.sticky {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 4.7em;
  z-index: 10;
  background: white
}
.rem_cart{
   position: absolute;
   left: 0;
}